[build]
builder = "RAILPACK"
buildCommand = "npm install && npx prisma generate"
watchPatterns = ["/backend/**"]

[deploy]
startCommand = "npm run indexer"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
